{% extends 'base.html' %}
{% load staticfiles %}
{% block ExtraHead %}
    <link rel="stylesheet" href="{% static 'codeChallenge/css/result.css' %}">
{% endblock %}
{% block Conteudo %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6">
                <div class="thumbnail">
                    <div class="caption">                    
                            <header class="modal-header">
                                <img id="imgParedao" src="{% static 'codeChallenge/img/paredao.png' %}"> <h3 id="quemDeveSer">Quem deve ser <h3 id="eliminado">eliminado?</h3></h3>
                            </header>
                            <div class="modal-body">
                                <h3>Parabéns! Seu voto para {{ participant.name }} foi enviado com sucesso. </h3>
                                <div class="participante">                                
                                    <img id="imgParticipanteUm" src="{% static 'codeChallenge/img/participanteUm.png' %}">
                                </div>
                                <canvas id="resultChart" width="250" height="250"></canvas>
                                <div class="participante">
                                    <img id="imgParticipanteDois" src="{% static 'codeChallenge/img/participanteDois.png' %}">
                                </div>
                            </div>                  
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extraScripts %}
    <script src="{% static 'codeChallenge/chart/Chart.min.js' %}"></script>
    <script>
        var pieData = [
            {% for votoParticipante in votosParticipantes %}
                {
                    value: {{votoParticipante}},
                    label: {{ votoParticipante}} + '%',
                },
            {% endfor %}
        ];
        // pie chart options
        var pieOptions = {
            segmentShowStroke : false,
            animateScale : true,
            percentageInnerCutout : 70,
        }
        // get pie chart canvas
        var countries= document.getElementById("resultChart").getContext("2d");
        // draw pie chart
        new Chart(countries).Doughnut(pieData, pieOptions);
    </script>
{% endblock %}