{% extends 'base.html' %}
{% load staticfiles %}
{% block Title %}Big Brother Brasil - Votações {% endblock %}
{% block ExtraHead %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
{% block Conteudo %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1> Votação do paredão <small>Selecione o paredão que você deseja eliminar:</small></h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    {% if contests %}
                        {% for Contest in contests %}
                            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                <a class="thumbnail" style="width:400px; height: 400px; text-align: center;" href="{% url "votacao" Contest.id %}">
                                    <p>{{ Contest.name }}</p>
                                    <img style="width:400px; height: 300px;"class="img-responsive"  src="{% if Contest.logo %}{{Contest.logo.url}}{% else %}http://placehold.it/400x300{% endif %}" alt="">
                                    <small>{{ Contest.desc }}</small>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="panel-footer">


            </div>
        </div>
    </div>
{% endblock %}
{% block extraScripts %}
    <script src="{% static 'index.js' %}"></script>
{% endblock %}