{% extends 'base.html' %}
{% block Title %}Big Brother Brasil - Participantes{% endblock %}
{% block Conteudo %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Listar todas informações</h2></div>
            <div class="panel-body "><br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 30px">#</th>
                            <th style="width: 30px">#</th>
                            <th>Nome</th>
                            <th>Descrição Votação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Participant in object_list %}
                            <tr>
                                <td><a href="{% url "participant_delete" Participant.id %}"><span class="fa fa-trash" aria-hidden="true"></span></a></td>
                                <td><a href="{% url "participant_edit" Participant.id %}"><span class="fa fa-pencil" aria-hidden="true"></span></a></td>
                                <td>{{ Participant.name }}</td>
                                <td>{{ Participant.desc }}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                    <!-- Paginação -->
                    <nav class="col-md-offset-5">
                        <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="{% url "participant_list" page_obj.previous_page_number %}" aria-label="Anterior">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                            {% for Pages in page_obj.paginator.page_range %}
                                {% if usersResult.number == Pages %}
                                    <li class="active"><a>{{ Pages }} <span class="sr-only">(current)</span></a></li>
                                {% else %}
                                    <li><a href="{% url "participant_list" Pages %}">{{ Pages }}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="{% url "participant_list" page_obj.next_page_number %}"> <span aria-hidden="true">&raquo;</span></a></li>
                        {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
            <div class="panel-footer">
                <div class="col-md-pull-1">
                    <a href="{% url "participant_new" %}" >
                        <button type="button" class="btn btn-success">Novo Registro</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock Conteudo %}